[all]
janus1-alfaexpo ansible_host=5.34.193.190 ansible_user=ubuntu ansible_ssh_pass=15J8n9Tbb9c2JqUvCP ansible_ssh_common_args='-o StrictHostKeyChecking=no' ansible_python_interpreter=/usr/bin/python3 server_name="janus1alfanova.co"
janus-backup1-alfaexpo ansible_host=37.152.181.179 ansible_user=ubuntu ansible_ssh_pass=15J8n9Tbb9c2JqUvCP ansible_ssh_common_args='-o StrictHostKeyChecking=no' ansible_python_interpreter=/usr/bin/python3 server_name="janus-backup1.alfanova.co"

[all:vars]
cloudflare_api_token="***"
certbot_domains="alfa.rest, *.alfa.rest, alfanova.co, *.alfanova.co"
